@font-face {
  font-family: "Gotham";
  src: url(/fonts/GothamSSm-Medium_Web.woff2);
}
@font-face {
  font-family: "Gotham light";
  src: url(/fonts/GothamSSm-Light_Web.woff2);
}
@font-face {
  font-family: "Gotham book";
  src: url(/fonts/GothamSSm-Book_Web.woff2);
}
@font-face {
  font-family: "Gotham bold";
  src: url(/fonts/GothamSSm-Bold_Web.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 9000px;
}

.Main {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first {
  background-image: url(/imgs/Pg_1_back.jpeg);
}
/* 1st page Nav */
.nav {
  /* position: fixed; */
  padding: 0px 45px;
  width: 100%;
  font-family: "Gotham bold";
  font-size: 14px;
}
.logo {
  display: inline-block;
  position: fixed;
  width: 100px;
}
.nav .nav-mid {
  display: inline-block;
  padding-left: 20%;
  padding-top: 9px;
  position: absolute;
}
.nav .nav-right {
  display: inline-block;
  padding-left: 75%;
  padding-top: 9px;
  position: absolute;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 17px;
}

button:hover {
  border: none;
  background-color: #757885;

  border-radius: 45px;
}

a {
  color: white;
  text-decoration: none;
}
/* 1st page body */

h1 {
  text-align: center;
  font-family: "Gotham book";
  padding-top: 140px;
  font-size: 40px;
}
